<!DOCTYPE html>
<html>
  <head>
    <title>DotaApi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Belleza" rel="stylesheet">
  </head>

  <body>
    <% flash.each do |message_type, msg| %>
      <div class="alert alert-<%=message_type%>"><%= msg %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
